
{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}


{% block body %}

    <h1>Hello {{ webmaster }}  !</h1>
    <p> 
      Le Hello World est un grand classique en programmation.
      <a href="{{ path('oc_platform_view', { 'id': id }) }}">Lien vers l'annonce d'id {{ id }}</a>

      Il signifie énormément, car cela veut dire que vous avez

      réussi à exécuter le programme pour accomplir une tâche simple :

      afficher ce hello world !

    </p>
{% endblock %}